<% if User.current.logged? and User.current.allowed_to?(:commit_access, @project)%>

<% repo_host = Setting.plugin_redmine_tour['repo_host'] || Setting.host_name %>
<% if Setting.plugin_redmine_tour['git_enabled'] && @repository === Repository::Git %>


			<% if @entries %>
				<p>
					<strong><%= t('How to access your X', :repo => t(:project_module_repository))%></strong>
				</p>
				<p><%= t 'You can access your repository by following the instructions below' %></p>			
			<% else %>
			
				<p><strong><%= l(:'Your repository is ready') %></strong></p>
				<p><%= l(:'Your repository has been set up You can now start using Git to share your files with your team members') %></p>
			<% end %>
			<% unless User.current.member_of?(@project) %>
			<p><em><%= t 'You are currently not a member of this project Please assign yourself as a member in order to gain access to the repository' %></em></p>
			<% end %>
			<p><strong><%= l(:'Set up Git first time only')%>:</strong></p>
			<pre># <%= l(:'download X and install it on your computer', :git_link => link_to('Git', 'http://git-scm.com/download')) %>
git config --global user.name "<%= User.current.name%>"
git config --global user.email <%= User.current.mail%></pre>
		
			<p><strong><%= l(:'Generate keypair first time only')%>:</strong></p>
			<pre>ssh-keygen -t rsa -b 2048
# <%= l(:'X your public key in Redmine', :app_name => Setting.plugin_redmine_tour['app_name'], :link => link_to(l(:'store'), new_public_key_path, :target => '_blank')) %></pre>

			<p><strong><%= l(:'Next steps')%>:</strong></p>
			<% if @entries %>
			<pre>git clone git@<%= repo_host %>:<%= Thread.current[:planio_account] %>-<%= @project.identifier %>.git</pre>
			<% else %>
			<pre>mkdir <%= @project.identifier %>
cd <%= @project.identifier %>
git init
touch README
git add README
git commit -m '<%= l(:'first commit') %>'
git remote add origin git@<%= repo_host %>:<%= Thread.current[:planio_account] %>-<%= @project.identifier %>.git
# <%= l(:'make sure you are a member in this project and have a role which allows X', :permission => l(:permission_commit_access))%>
git push origin master</pre>
			<% end %>
			<% unless @entries %>

			<p><strong><%= l(:'Already have a Git repository')%></strong></p>
			<pre>cd <%= l(:'existing_git_repo')%>
git remote add origin git@<%= repo_host %>:<%= Thread.current[:planio_account] %>-<%= @project.identifier %>.git
# <%= l(:'make sure you are a member in this project and have a role which allows X', :permission => l(:permission_commit_access))%>
git push origin master</pre>
			<% end %>
	
<% if Setting.plugin_redmine_tour['svn_enabled'] && User.current.allowed_to?(:manage_repository, @project) %>
<p>
	<strong><%= t('Prefer X', :scm => 'Subversion')%></strong>
</p>
<p><%= t('If you prefer using X over X, simply change the X in the X', :scm1 => 'Subversion', :scm2 => 'Git', :type => t(:label_scm), :settings => link_to(t(:label_settings),:controller => 'projects', :action => 'settings', :id => @project, :tab => 'repository'))%>
</p>
<% end %>

<% elsif Setting.plugin_redmine_tour['svn_enabled'] && @repository === Repository::Subversion %>

	<p>
		<strong><%= t('How to access your X', :repo => t(:project_module_repository))%></strong>
	</p>
	<% unless User.current.member_of?(@project) %>
	<p><em><%= t 'You are currently not a member of this project Please assign yourself as a member in order to gain access to the repository' %></em></p>
	<% end %>
	<p><%= t 'You can access your repository from any tool which supports X Just use the following URI', :repo_name => 'Subversion' %>:</p>

	<p><%= uri = "https://#{repo_host}/svn/#{@project.identifier}/#{@path}" ; link_to(uri,uri) %></p>

	<p><%= t 'Please use your username X and your Redmine password to authenticate', :app_name => Setting.plugin_redmine_tour['app_name'], :username => content_tag(:em, content_tag(:strong, User.current.login)) %></p>
	<% if Setting.plugin_redmine_tour['git_enabled'] && User.current.allowed_to?(:manage_repository, @project) %>
	<p>
		<strong><%= t('Prefer X', :scm => 'Git')%></strong>
	</p>
	<p><%= t('If you prefer using X over X, simply change the X in the X', :scm1 => 'Git', :scm2 => 'Subversion', :type => t(:label_scm), :settings => link_to(t(:label_settings),:controller => 'projects', :action => 'settings', :id => @project, :tab => 'repository'))%>
	</p>
	<% end %>
<% end %>
<% end %>
