<% if User.current.logged? and User.current.allowed_to?(:commit_access, @project)%>

<% if @repository === Repository::Git %>


			<% if @entries %>
				<p>
					<strong><%= t('How to access your X', :repo => t(:project_module_repository))%></strong>
				</p>
				<p><%= t 'You can access your repository by following the instructions below' %></p>			
			<% else %>
			
				<p><strong><%= l(:label_repository_ready) %></strong></p>
				<p><%= l(:notice_repository_ready) %></p>
			<% end %>
			<% unless User.current.member_of?(@project) %>
			<p><em><%= t 'You are currently not a member of this project Please assign yourself as a member in order to gain access to the repository' %></em></p>
			<% end %>
			<p><strong><%= l(:label_set_up_git)%>:</strong></p>
			<pre># <%= l(:label_download_and_install_git, :git_link => link_to('Git', 'http://git-scm.com/download')) %>
git config --global user.name "<%= User.current.name%>"
git config --global user.email <%= User.current.mail%></pre>
		
			<p><strong><%= l(:label_generate_keypair)%>:</strong></p>
			<pre>ssh-keygen -t rsa -b 2048
# <%= l(:label_x_your_public_key_in_planio, :link => link_to(l(:label_store), new_public_key_path, :target => '_blank')) %></pre>

			<p><strong><%= l(:label_next_steps)%>:</strong></p>
			<% if @entries %>
			<pre>git clone git@<%= RAILS_ENV %>.plan.io:<%= RAILS_ENV %>-<%= @project.identifier %>.git</pre>
			<% else %>
			<pre>mkdir <%= @project.identifier %>
cd <%= @project.identifier %>
git init
touch README
git add README
git commit -m '<%= l(:label_first_commit) %>'
git remote add origin git@<%= RAILS_ENV %>.plan.io:<%= RAILS_ENV %>-<%= @project.identifier %>.git
# <%= l(:label_make_sure, :permission => l(:permission_commit_access))%>
git push origin master</pre>
			<% end %>
			<% unless @entries %>

			<p><strong><%= l(:label_existing_repository)%></strong></p>
			<pre>cd <%= l(:label_existing_repo_path)%>
git remote add origin git@<%= RAILS_ENV %>.plan.io:<%= RAILS_ENV %>-<%= @project.identifier %>.git
# <%= l(:label_make_sure, :permission => l(:permission_commit_access))%>
git push origin master</pre>
			<% end %>
	
<% if User.current.allowed_to?(:manage_repository, @project) %>
<p>
	<strong><%= t('Prefer X', :scm => 'Subversion')%></strong>
</p>
<p><%= t('If you prefer using X over X, simply change the X in the X', :scm1 => 'Subversion', :scm2 => 'Git', :type => t(:label_scm), :settings => link_to(t(:label_settings),:controller => 'projects', :action => 'settings', :id => @project, :tab => 'repository'))%>
</p>
<% end %>

<% elsif @repository === Repository::Subversion %>

	<p>
		<strong><%= t('How to access your X', :repo => t(:project_module_repository))%></strong>
	</p>
	<% unless User.current.member_of?(@project) %>
	<p><em><%= t 'You are currently not a member of this project Please assign yourself as a member in order to gain access to the repository' %></em></p>
	<% end %>
	<p><%= t 'You can access your repository from any tool which supports X Just use the following URI', :repo_name => 'Subversion' %>:</p>

	<p><%= uri = "https://#{RAILS_ENV}.plan.io/svn/#{@project.identifier}" ; link_to(uri,uri) %></p>

	<p><%= t 'Please use your username X and your Planio password to authenticate', :username => content_tag(:em, content_tag(:strong, User.current.login)) %></p>
	<% if User.current.allowed_to?(:manage_repository, @project) %>
	<p>
		<strong><%= t('Prefer X', :scm => 'Git')%></strong>
	</p>
	<p><%= t('If you prefer using X over X, simply change the X in the X', :scm1 => 'Git', :scm2 => 'Subversion', :type => t(:label_scm), :settings => link_to(t(:label_settings),:controller => 'projects', :action => 'settings', :id => @project, :tab => 'repository'))%>
	</p>
	<% end %>
<% end %>
<% end %>
