<p><strong><%= t :'This is the Issues section' %></strong></p>
<p><%= t :'You can create issues assign them to coworkers check on their status and much more' %></p>
<% if @project.issues.blank? %>
<p><em><%= t :'It seems as if you have not created any issues yet If you like try creating one using the X tab in the upper menu', :new_issue => content_tag(:em, content_tag(:strong, t(:label_issue_new))) %></em></p>
<% else %>
<p><%= t :'Clicking an issue with the left mouse button will let you view and modify it if you have the respective permissions' %></p>
<p><%= t :'Clicking an issue or group of issues with the right mouse button will open a context menu with more options' %></p>
<p><em><%= t :'Please note that right clicking the link directly will open the system context menu in most browsers Please right click the area next to the link in order to activate the issues context menu' %></em></p>
<% end %>