<% if User.current.admin and (!(params[:controller] == 'admin' and params[:action] == 'index') and !(params[:controller] == 'welcome' and params[:action] == 'index')) and Redmine::DefaultData::Loader::no_data? %>
	<div class="nodata" id="redmine-tour">
		<% form_tag({:controller => 'admin', :action => 'default_configuration'}) do %>
		    <%= simple_format(l(:text_no_configuration_data)) %>
		    <p><%= l(:field_language) %>:
		    <%= select_tag 'lang', options_for_select(lang_options_for_select(false), current_language.to_s) %>
		    <%= submit_tag l(:text_load_default_configuration) %></p>
		<% end %>
	</div>
	<%= render :partial => 'tour/dom_hack' %>
<% elsif tour_item = begin ; render :partial => "#{params[:action]}_tour" ; rescue ActionView::MissingTemplate ; nil ; end and not tour_item.blank? %>
	<% show_tour = (!User.current.logged? or User.current.pref["redmine_tour_#{RedmineTour::tour_name_from_params(params)}"] != false) ? true : false %>

	<% content_tag(:div, :class => 'nodata', :id => 'redmine-tour', :style => (show_tour ? nil : 'display:none;')) do %>
		<div style="float: right; font-size: 12px;">
			<%= link_to_function(l(:label_hide), 'hideTour();') %>
		</div>
		<div style="margin: auto; width: 50%; text-align: left;">
			<%= render :text => tour_item %>
		</div>
	<% end %>
	<%= render :partial => 'tour/dom_hack' %>
<% end %>

	<script type="text/javascript" charset="utf-8">
		function hideTour(){
			<%= User.current.logged? ? remote_function(:url => tour_path(RedmineTour::tour_name_from_params(params)), :method => :delete, :complete => "$('redmine-tour').hide();") : "$('redmine-tour').hide();" %>;
		}
		function showTour(){
			if($('redmine-tour') && !$('redmine-tour').visible()){
				<%= User.current.logged? ? remote_function(:url => tours_path(:tour => RedmineTour::tour_name_from_params(params)), :method => :post, :complete => "$('redmine-tour').show();") : "$('redmine-tour').show();" %>;
				return false;
			} else {
				return true;
			}
		}
	</script>
