<% if Project.active.count == 0 %>
<p><strong><%= t 'Creating a project is easy!' %></strong></p>

<p><%= t 'Just fill out the form below by giving your project a X and an X', :name => content_tag(:em, content_tag(:strong, t(:field_name))), :identifier => content_tag(:em, content_tag(:strong, t(:field_identifier))) %> <%= t 'The identifier will be used as part of all links to your projects pages later on' %></p>
<p><%= t 'If youre not sure about the rest, just leave everything as it is You can always change these options later' %></p>
<p><%= t 'Finally, click on X', :save => content_tag(:em, content_tag(:strong, t(:button_save))) %></p>
<% end %>