<% if @project and @project.members.blank? %>
	<p><strong><%= t 'Here you can define your projects settings' %></strong></p>
	<p><%= t 'The most important thing for now on this page is the X tab You can use it to add members to your project', :members => content_tag(:em,content_tag(:strong,t(:label_member_plural))) %></p>
	<p><%= t '<em>You</em> should be a member of your own project, right? Just follow these simple steps:' %>
		<ul>
			<li>
				<%= t 'Click on X', :members => content_tag(:em,content_tag(:strong,t(:label_member_plural))) %>,
			</li>
			<li>
				<%= t 'Tick the box next to your account name X in the list on the right,', :name => content_tag(:em,content_tag(:strong,h(User.current.name))) %>
			</li>
			<li>
				<%= t 'and select one or more roles from the list below X should be okay for now', :role => content_tag(:em,content_tag(:strong, h(Role.find(:first, :order => 'length(permissions) desc').name))) %>
			</li>
			<li>
				<%= t 'Click X', :add => content_tag(:em,content_tag(:strong,t(:button_add)))%>
			</li>
		</ul>
		<p><%= t 'Thats it If you like, check out the other project settings here' %> <%= t 'After youre done, click on X to continue the tour', :administration => content_tag(:em,content_tag(:strong, t(:label_administration))) %></p>
<% end%>
