<p><strong><%= t :'This is the Assets section' %></strong></p>
<p><%= t :'Here you can upload and download assets to share with your coworkers' %></p>
<p><%= t :'Clicking an asset with the left mouse button will download it directly to your computer' %></p>
<p><%= t :'Clicking an asset or folder with the right mouse button will open a context menu with more options' %></p>
<p><em><%= t :'Please note that right clicking the link directly will open the system context menu in most browsers Please right click the area next to the link in order to activate the assets context menu' %></em></p>