<p><strong><%= t :alfresco_tour_header %></strong></p>
<p><%= t :alfresco_tour_p1 %></p>
<p><%= t :alfresco_tour_p2 %></p>
<p><%= t :alfresco_tour_p3 %></p>
<p><em><%= t :alfresco_tour_hint %></em></p>